APP_NAME=АВТОСНАБ Test Task API
APP_VERSION=2.0.0
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/autosnab_db
EXTERNAL_SERVER_URL=http://127.0.0.1:8001/result
EXTERNAL_TIMEOUT_SECONDS=65
EMULATOR_MIN_DELAY_SECONDS=0
EMULATOR_MAX_DELAY_SECONDS=60
DATABASE_CONNECT_RETRIES=30
DATABASE_RETRY_DELAY_SECONDS=1
LOG_LEVEL=INFO
